<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TEST-APP</title>
</head>
<body>
	<form class="grid" action="/result" method="POST">

          {% if name %}
            <center>
              <h3 style="color: blue;" class="let_space">Welcome {{name}} To Our Test-App!!</h3>
            </center> 

          {% endif %}
           
          

          <center>
          	<label for="name">Enter you name:</label>
	          <input type="text" id="name" name="name">
	          <br>
	          <br>
          	<input class="file_submit" type="Submit">
          </center>

        </form>
</body>
</html>